node_modules/
.env
test-results/
playwright-report/
allure-results/
allure-report/
.allure-history-cache/
.pages-site/
.pages-artifact/
blob-report/
playwright/.cache/
playwright/.auth/
dist/
*.log
reports/screenshots/*
!reports/screenshots/.gitkeep
reports/har/*
!reports/har/.gitkeep
